# Ignore build artifacts from the local tests sub-crate.
**/target/
artifacts/*
# But commit the psp22 and wrapped_azero since they don't change.
!/artifacts/psp22*
!/artifacts/wrapped_azero*

# Ignore TypeScript contract wrappers.
types/

# Ignore the addreses file.
addresses.json

# Ignore Rust contract wrappers.
amm/drink-tests/src/*_contract.rs
amm/drink-tests/resources/*.wasm
farm/tests/src/farm/farm_contract.rs


# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Dependency directory
node_modules

.vscode
.idea

node_modules/

.next/

target/

.DS_Store

.env
.log
