# Ignore build artifacts from the local tests sub-crate.
**/target/
/artifacts/

# Ignore TypeScript contract wrappers.
types/

# Ignore Rust contract wrappers.
e2e-tests/src/*_contract.rs
e2e-tests/src/psp22_token.rs

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Dependency directory
node_modules

.vscode
.idea

node_modules/

.next/

target/

.DS_Store

.env
.log
