# Ignore build artifacts from the local tests sub-crate.
**/target/
/artifacts/

# Ignore TypeScript contract wrappers.
types/

# Ignore the addreses file.
addresses.json

# Ignore Rust contract wrappers.
amm/e2e-tests/src/*_contract.rs
amm/e2e-tests/src/wrapped_azero.rs
amm/e2e-tests/src/psp22.rs

# Ignore backup files creates by cargo fmt.
**/*.rs.bk

# Dependency directory
node_modules

.vscode
.idea

node_modules/

.next/

target/

.DS_Store

.env
.log
